.example-form label {
  width: 140px;
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}

.example-form input {
  width: 500px;
  height: 44px;
  outline: none;
  padding: 0 20px;
  background: #FFFFFF;
  border: 1px solid #C3C3C3;
  border-radius: 3px;
}
