<section>
  <div class="container">
    <div class="content">
      <div class="create">
        <div class="text-wrapper">
          <h1>{{ title }}</h1>
        </div>
        <div class="form">
          <app-test-input value="dafadfs" type="text" class="text"></app-test-input>
          <app-test-number></app-test-number>
          <app-test-select></app-test-select>
          <app-test-select-list></app-test-select-list>
          <app-test-checkbox></app-test-checkbox>
        </div>
        <div class="btn-wrapper">
          <button class="btn">Отправить</button>
        </div>
      </div>
    </div>
  </div>
</section>
