.example-form label{
  width: 140px;
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}

select {
  width: 300px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #C3C3C3;
  border-radius: 3px;
  outline: none;
  padding: 0 8px;
  font-size: 22px;
}

select option {
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
