@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.example-form {
  display: flex;
  align-items: center;
  margin: 20px 0 10px;
}


.btn {
  width: 139px;
  height: 52px;
  background: #FFE783;
  border-radius: 3px;
  border: none;
  text-align: center;
}

.btn span {
  font-weight: 400;
  font-size: 17px;
  color: #000000;
  opacity: 0.4;
}

.btn-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 410px;
}

.text-wrapper h1 {
  font-weight: 400;
  cursor: pointer;
  font-size: 41px;
  color: #000000;
}

.btn span:hover {
  opacity: 0.7;
}
