<form class="example-form align-start">
  <label>Навыки</label>
  <div class="checkbox-container">
    <div class="wrap">
      <div class="checkbox-wrap">
        <input type="checkbox" id="Общение" name="Общение" value="Общение">
        <label class="label-checkbox" for="Общение">Общение</label>
      </div>
      <div class="checkbox-wrap">
        <input type="checkbox" id="Иностранные языки" name="Иностранные языки" value="Иностранные языки">
        <label class="label-checkbox" for="Иностранные языки">Иностранные языки</label>
      </div>
      <div class="checkbox-wrap">
        <input type="checkbox" id="Бег с препятствиями" name="Бег с препятствиями" value="Бег с препятствиями">
        <label class="label-checkbox" for="Бег с препятствиями">Бег с препятствиями</label>
      </div>
      <div class="checkbox-wrap">
        <input type="checkbox" id="Быстрое чтение" name="Быстрое чтение" value="Быстрое чтение">
        <label class="label-checkbox" for="Быстрое чтение">Быстрое чтение</label>
      </div>
      <div class="checkbox-wrap">
        <input type="checkbox" id="Самозащита" name="Самозащита" value="Самозащита">
        <label class="label-checkbox" for="Самозащита">Самозащита</label>
      </div>
    </div>
    <div class="wrap">
      <div class="checkbox-wrap">
        <input type="checkbox"  id="Вождение" name="Вождение" value="Вождение">
        <label class="label-checkbox" for="Вождение">Вождение</label>
      </div>
      <div class="checkbox-wrap">
        <input type="checkbox" id="Программирование" name="Программирование" value="Программирование">
        <label class="label-checkbox" for="Программирование">Программирование</label>
      </div>
      <div class="checkbox-wrap">
        <input type="checkbox" id="Управление вертолетом" name="Управление вертолетом" value="Управление вертолетом">
        <label class="label-checkbox" for="Управление вертолетом">Управление вертолетом</label>
      </div>
      <div class="checkbox-wrap">
        <input type="checkbox" id="Оперное пение" name="Оперное пение" value="Оперное пение">
        <label class="label-checkbox">Оперное пение</label>
      </div>
      <div class="checkbox-wrap">
        <input type="checkbox" id="Выделить все" name="Выделить все" value="Выделить все">
        <label class="label-checkbox weight">Выделить все</label>
      </div>
    </div>
  </div>
</form>

